<div class="hero">
  <h2>Welcome to CSE Motors!</h2>

  <h3>DMC Delorean</h3>
  <ul>
    <li>3 Cup holders</li>
    <li>Superman doors</li>
    <li>Fuzzy dice</li>
  </ul>
  <p>Own Today</p>

  <div>
    <img src="/images/vehicles/delorean-tn.jpg" alt="a car hero image" />
  </div>
</div>

<div class="reviews">
  <h2>DMC Delorean reviews</h2>
  <ul>
    <li>"So fast almost like travelling in time." (4/5)</li>
    <li>"Coolest ride on the road." (4/5)</li>
    <li>" I'm feeling McFly! (5/5)</li>
    <li>"The most futuristic ride of our day." (4.5/5)</li>
    <li>"80's livin and I love it!" (5/5)</li>
  </ul>
</div>

<h2>Delorean Upgrades</h2>
<div class="upgrades">
  <div>
    <img src="/images/upgrades/flux-cap.png" alt="a flux cappacitor image" />
    <p><a href="3">Flux Capacitor</a></p>
  </div>
  <div>
    <img src="/images/upgrades/flame.jpg" alt="flame image" />
    <p><a href="#">Flame Decals</a></p>
  </div>
  <div>
    <img src="/images/upgrades/bumper_sticker.jpg" alt="" />
    <p><a href="">Bumper Sticker</a></p>
  </div>
  <div>
    <img src="/images/upgrades/hub-cap.jpg" alt="a hub-cap image" />
    <p><a href="">Hub Caps</a></p>
  </div>
</div>
